openapi: 3.0.3
info:
  title: POLCO TOURS API
  version: 0.9.0
  description: >
    DR-032 removes the IMMIGRATION_OFFICER role and Officers admin tooling
    entirely (no longer needed): /immigration/visa-applications,
    /immigration/officers, and /users/{userId}/assign-country are gone,
    along with User.assignedCountry and the OfficerVisaView projection.
    VISA_FACILITATOR's own whole-org queue (/visa/queue, DR-031) is the
    remaining visa-overview surface for staff.
    DR-026 adds real user management: GET/POST /users (list/create, admin-
    only) and DELETE /users/{userId} (soft-delete/deactivate, admin-only).
    A user can hold several simultaneous roles now (Membership rows) --
    User.roles is the full held set, User.role stays the single "primary"
    role used unchanged by tourist/guest self-signup. Created accounts get
    a generated one-time password (returned once) and mustChangePassword;
    forced to change it at first sign-in via the staff dashboard (not
    enforced on /api/v1 itself).
    DR-025 adds resubmission: a REJECTED VisaApplication can be reset back
    to SUBMITTED via /bookings/{bookingId}/travelers/{travelerId}
    /visa/resubmit (visa.process, same anti-BOLA check as submit/decide).
    DecideVisaInput gains an optional reason, persisted as
    VisaApplicationView.rejectionReason only while REJECTED (cleared on
    resubmit or a later APPROVED decision); resubmissionCount is a
    display-only counter.
    DR-019 adds Phase 2 Increment 3 (visa documents): a per-traveler
    VisaApplication workflow (SUBMITTED -> APPROVED/REJECTED, resubmittable
    per DR-025) under
    /bookings/{bookingId}/travelers/{travelerId}/visa(/submit|/decide
    |/resubmit|/document), reusing documentsService.uploadDocument (kind: VISA).
    DR-018 adds Phase 2 Increment 2 (assignments): /departures/{id}
    /assignments and /assignments/{id}, linking a Departure to the vehicle/
    driver/guide staffing it (a departure can have several, one per vehicle).
    Rejects an inactive vehicle/driver, a guideUserId not referencing a
    TOUR_GUIDE in the same org, or a vehicle/driver already assigned to a
    date-overlapping departure (double-booking). /assignments/mine is a
    self-service schedule lookup for TOUR_GUIDE/DRIVER/VEHICLE_OWNER,
    API-only this increment (no staff-dashboard portal yet for those roles).
    DR-017 added Phase 2 Increment 1 (fleet + compliance): /fleet/vehicles and
    /fleet/drivers, plus a generalized document upload (documentsService
    .uploadDocument) reused for vehicle registration/insurance/inspection and
    driver license documents, each with an optional expiresAt for compliance
    tracking. VEHICLE_OWNER/DRIVER only ever see their own records
    (fleet/service.ts). DR-015 added the booking-setup wizard: per-seat
    travelers, a tour lead's passport PDF (first real Vercel Blob usage,
    DR-010), and priced add-on services that now flow into the invoice
    subtotal via bookingService.getBillableTotal. GET
    /bookings/{bookingId}/invoice 409s until the traveler manifest, tour-lead
    passport, and add-ons step are all complete. Document bytes are always
    streamed through this API server-side (Vercel Blob access: 'private') and
    never exposed as a raw URL. Extend this file as new endpoints are added
    (do not let it drift).
servers:
  - url: https://polcotours.com/api/v1
  - url: http://localhost:3000/api/v1
security:
  - sessionCookie: []

paths:
  /catalog/packages:
    get:
      summary: List tour packages
      description: Non-operator roles only ever see PUBLISHED packages.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  packages:
                    type: array
                    items: { $ref: '#/components/schemas/TourPackage' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create a tour package
      security: [{ sessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePackageInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  package: { $ref: '#/components/schemas/TourPackage' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /catalog/packages/{packageId}:
    parameters:
      - $ref: '#/components/parameters/packageId'
    get:
      summary: Get a tour package
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  package: { $ref: '#/components/schemas/TourPackage' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a tour package
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdatePackageInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  package: { $ref: '#/components/schemas/TourPackage' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      summary: Soft-delete a tour package (operator only)
      description: >-
        Sets deletedAt (DR-028) -- hides it from every listing, no cascade
        risk to real Departures/Bookings/Invoices (unlike a real DB DELETE).
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /catalog/packages/{packageId}/duplicate:
    parameters:
      - $ref: '#/components/parameters/packageId'
    post:
      summary: Duplicate a tour package (operator only)
      description: Clones the package definition only, as a new DRAFT package with a fresh packageReference -- no departures come along (DR-028).
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  package: { $ref: '#/components/schemas/TourPackage' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /catalog/packages/{packageId}/departures:
    parameters:
      - $ref: '#/components/parameters/packageId'
    get:
      summary: List departures for a package
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  departures:
                    type: array
                    items: { $ref: '#/components/schemas/Departure' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Schedule a departure
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateDepartureInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  departure: { $ref: '#/components/schemas/Departure' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /departures/{departureId}:
    parameters:
      - $ref: '#/components/parameters/departureId'
    get:
      summary: Get departure detail with inline availability
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  departure: { $ref: '#/components/schemas/Departure' }
                  packageStatus: { type: string }
                  packageCountry: { type: string }
                  effectiveUnitPrice: { $ref: '#/components/schemas/Money' }
                  bookable: { type: boolean }
                  seatsAvailable: { type: integer }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Set a departure's pickup location (operator only)
      description: DR-029. The only mutable field on an existing departure -- feeds the assignment recommendation's distance factor.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetDeparturePickupLocationInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  departure: { $ref: '#/components/schemas/Departure' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /departures/{departureId}/recommend-assignment:
    parameters:
      - $ref: '#/components/parameters/departureId'
    get:
      summary: Get a rules-based vehicle/driver recommendation (operator only)
      description: >-
        DR-029. NOT the "AI assignment engine" this project's roadmap lists
        as Phase 3 -- a simple, transparent, equal-weighted scorer. The
        Platform Admin still confirms or overrides via POST .../assignments.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssignmentRecommendation' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /departures/{departureId}/availability:
    parameters:
      - $ref: '#/components/parameters/departureId'
    get:
      summary: Lightweight pre-submit availability recheck
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Availability' }
        '404': { $ref: '#/components/responses/NotFound' }

  /departures/{departureId}/assignments:
    parameters:
      - $ref: '#/components/parameters/departureId'
    get:
      summary: List a departure's assignments (manager-only, DR-018)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignments:
                    type: array
                    items: { $ref: '#/components/schemas/Assignment' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Assign a vehicle + driver (+ optional guide) to a departure (DR-018)
      description: >-
        A departure can have several assignments, one per vehicle, once its
        capacity exceeds one vehicle's seatCapacity. Rejects an inactive
        vehicle/driver, a guideUserId not referencing a TOUR_GUIDE in this
        org, or a vehicle/driver already assigned to a date-overlapping
        departure (double-booking).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAssignmentInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignment: { $ref: '#/components/schemas/Assignment' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Inactive vehicle/driver, double-booking, or this vehicle is already on this departure
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /assignments/{assignmentId}:
    parameters:
      - $ref: '#/components/parameters/assignmentId'
    delete:
      summary: Remove an assignment (manager-only, DR-018)
      responses:
        '204':
          description: No Content
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /assignments/mine:
    get:
      summary: List the caller's own assignments (DR-018)
      description: >-
        TOUR_GUIDE/DRIVER/VEHICLE_OWNER only -- scoped to their own guide/
        driver-profile/vehicle records in assignment/service.ts. API-only
        this increment, no staff-dashboard portal yet for these roles.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignments:
                    type: array
                    items: { $ref: '#/components/schemas/Assignment' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /bookings:
    get:
      summary: List bookings
      description: Tourist -> own bookings only. Staff -> the full org manifest.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookings:
                    type: array
                    items: { $ref: '#/components/schemas/Booking' }
    post:
      summary: Book a predefined package's departure -- places a seat hold (30-minute expiry)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateBookingInput' }
      responses:
        '201':
          description: Created, status AWAITING_DEPOSIT
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: Departure is sold out or not bookable
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    get:
      summary: Get a booking
      description: A tourist may only fetch their own booking (404 if not theirs, not 403 -- avoids leaking existence).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/confirm:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: >-
        Confirm a paid booking (operator only). Requires status DEPOSIT_PAID
        or FULLY_PAID -- payment.resolve's success path moves a booking into
        one of those automatically; Confirm itself stays a separate manual
        staff action (no real DPO webhook yet, OI-01 open).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/cancel:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: Cancel a booking
      description: A tourist may only cancel their own booking; an operator may cancel any booking in their org.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/refund:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: Mark a cancelled booking as refunded (operator only)
      description: >-
        Status-only (CANCELLED -> REFUNDED) -- no real payment-reversal
        mechanism exists yet; mirrors payment.resolve's fraud-prevention
        posture (a tourist self-marking their own refund is the same risk).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/tailor-made:
    post:
      summary: Create a bespoke trip request (no pre-existing Departure)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTailorMadeInput' }
      responses:
        '201':
          description: Created, status AWAITING_QUOTATION
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}/quotation:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: Price a booking currently AWAITING_QUOTATION (operator only)
      description: Applies to a TAILOR_MADE request or a PREDEFINED_PACKAGE booking that asked for a quote instead of paying immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SendQuotationInput' }
      responses:
        '200':
          description: OK, status QUOTATION_SENT
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/quotation/accept:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: Accept a sent quotation and proceed toward payment
      description: QUOTATION_SENT -> AWAITING_DEPOSIT. A tourist may only accept their own booking's quotation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/convert-to-itinerary:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: Convert an approved TAILOR_MADE booking into an operational itinerary (operator only)
      description: >-
        DR-028. Requires origin TAILOR_MADE, a set price (quotation sent --
        that IS the approval gate, not payment), and no existing departureId.
        Creates a bespoke Departure and attaches it, after which the existing
        Assignment endpoints (POST /departures/{id}/assignments) work
        completely unchanged.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Not a TAILOR_MADE booking, not yet priced, or already converted
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /bookings/{bookingId}/invoice:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    get:
      summary: Get (or lazily create) the invoice for a booking
      description: >-
        Idempotent get-or-create -- an invoice is created on first access, not
        at hold time. Snapshots per-country tax (DR-006) and the 40/60
        deposit/balance split (DR-012). Subtotal is the booking's seat price
        plus any finalized add-ons (DR-015, bookingService.getBillableTotal).
        Ownership is inherited from the booking's own anti-BOLA check.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice: { $ref: '#/components/schemas/Invoice' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: >-
            No effective tax rate configured for this country, OR the
            traveler manifest / tour-lead passport / add-ons wizard steps
            (DR-015) are not all complete yet.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /bookings/{bookingId}/travelers:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    get:
      summary: List a booking's travelers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  travelers:
                    type: array
                    items: { $ref: '#/components/schemas/Traveler' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Add a traveler to the booking (DR-015)
      description: >-
        One Traveler per seat, no more (409 once seats are filled). Exactly
        one may be isTourLead=true per booking; only that traveler needs a
        passport upload.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AddTravelerInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  traveler: { $ref: '#/components/schemas/Traveler' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: All seats already have a traveler, or a tour lead is already set
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}/travelers/{travelerId}/passport:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    get:
      summary: Download the tour lead's passport (DR-015)
      description: >-
        Streams the PDF bytes server-side from Vercel Blob (access: 'private')
        -- there is no public URL for this document. Every access is audited
        (Documents rule, CLAUDE.md).
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Upload the tour lead's passport (DR-015)
      description: Only the traveler flagged isTourLead may have a passport attached.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [passport]
              properties:
                passport: { type: string, format: binary, description: 'PDF, up to 10MB' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  document: { $ref: '#/components/schemas/DocumentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: This traveler is not the tour lead
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}/travelers/{travelerId}/visa:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    get:
      summary: View a traveler's visa application (DR-019)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  application: { $ref: '#/components/schemas/VisaApplication' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/travelers/{travelerId}/visa/submit:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    post:
      summary: Submit a visa application for a traveler (VISA_FACILITATOR, DR-019)
      description: >-
        Snapshots the traveler's identity and the departure's destination
        country onto the application -- one per traveler; once decided, a
        REJECTED application can be reset back to SUBMITTED via
        /visa/resubmit (DR-025), an APPROVED one cannot.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  application: { $ref: '#/components/schemas/VisaApplication' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: A visa application already exists for this traveler
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /bookings/{bookingId}/travelers/{travelerId}/visa/decide:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    post:
      summary: Approve or reject a SUBMITTED visa application (VISA_FACILITATOR, DR-019)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DecideVisaInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  application: { $ref: '#/components/schemas/VisaApplication' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: The application is not SUBMITTED
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}/travelers/{travelerId}/visa/resubmit:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    post:
      summary: Resubmit a REJECTED visa application (VISA_FACILITATOR, DR-025)
      description: >-
        Resets the same application back to SUBMITTED (status, decidedAt,
        rejectionReason, documentId all cleared; submittedAt bumped so it
        resurfaces for review; resubmissionCount incremented). The prior
        rejection is preserved permanently in the audit log
        (visa.resubmitted), not on the row itself.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  application: { $ref: '#/components/schemas/VisaApplication' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: The application is not REJECTED
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /bookings/{bookingId}/travelers/{travelerId}/visa/document:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    get:
      summary: Download the granted visa document (DR-019)
      description: >-
        Streams the bytes server-side from Vercel Blob (access: 'private') --
        there is no public URL for this document. Every access is audited.
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Upload the granted visa document (VISA_FACILITATOR, DR-019)
      description: PDF or a phone photo (JPEG/PNG) up to 10MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  document: { $ref: '#/components/schemas/DocumentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /visa/queue:
    get:
      summary: VISA_FACILITATOR's own whole-org visa queue (My Schedule, DR-031)
      description: >-
        No country scoping (unlike /immigration/visa-applications) -- this
        role has no per-facilitator assignment concept, so it sees every
        application in the org. Sorted by resolved travelStartDate ascending
        (nulls last).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  applications:
                    type: array
                    items: { $ref: '#/components/schemas/FacilitatorVisaView' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /users:
    get:
      summary: List every non-deleted user in the org, with their held roles (admin-only, DR-026)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items: { $ref: '#/components/schemas/User' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create a staff account with one or more roles (admin-only, DR-026)
      description: >-
        Generates a one-time password, returned exactly once in this
        response and never persisted in plaintext or retrievable again. The
        account is forced to change it at first sign-in
        (mustChangePassword).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateUserInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: '#/components/schemas/User' }
                  temporaryPassword: { type: string }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: A user with this email already exists
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /users/{userId}:
    parameters:
      - $ref: '#/components/parameters/userId'
    delete:
      summary: Deactivate (soft-delete) a user (admin-only, DR-026)
      description: >-
        Sets deletedAt; the next request the deactivated user makes fails
        closed (authService.resolveSession already treats a deletedAt-set
        user as unauthenticated). Blocks deactivating your own account.
      responses:
        '204': { description: No Content }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: You cannot deactivate your own account
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /bookings/{bookingId}/addons:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: Finalize the booking's add-on selection (DR-015)
      description: >-
        Replace-all semantics -- meant to be called once, including with an
        empty list (choosing none). Snapshots each AddonService's price/
        currency onto the Booking and stamps addonsFinalizedAt, which gates
        invoice creation (GET /bookings/{bookingId}/invoice).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetAddonsInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  addons:
                    type: array
                    items: { $ref: '#/components/schemas/BookingAddon' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: An add-on's currency does not match the booking's currency
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /invoices/{invoiceId}/payments:
    parameters:
      - $ref: '#/components/parameters/invoiceId'
    get:
      summary: List payment attempts for an invoice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items: { $ref: '#/components/schemas/Payment' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Initiate a deposit or balance payment (stubbed DPO gateway)
      description: >-
        DPO's real commercial terms are still pending (OI-01) -- this returns
        a fake redirect URL and a PENDING payment; a staff-only
        /payments/{paymentId}/resolve action stands in for DPO's future
        webhook. The balance leg cannot be initiated until the deposit has
        succeeded.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InitiatePaymentInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment: { $ref: '#/components/schemas/Payment' }
                  redirectUrl: { type: string, format: uri }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: This payment leg cannot be initiated in the invoice's current state
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /payments/{paymentId}/resolve:
    parameters:
      - $ref: '#/components/parameters/paymentId'
    post:
      summary: Resolve a pending payment (staff only -- stands in for a future DPO webhook)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResolvePaymentInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment: { $ref: '#/components/schemas/Payment' }
                  invoice: { $ref: '#/components/schemas/Invoice' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/vehicles:
    get:
      summary: List vehicles
      description: >-
        TOUR_OPERATOR/SUPERADMIN see the whole org fleet. VEHICLE_OWNER sees
        only vehicles where ownerId matches them (DR-017).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicles:
                    type: array
                    items: { $ref: '#/components/schemas/Vehicle' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Register a vehicle (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateVehicleInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle: { $ref: '#/components/schemas/Vehicle' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/vehicles/{vehicleId}:
    parameters:
      - $ref: '#/components/parameters/vehicleId'
    get:
      summary: Get a vehicle
      description: A VEHICLE_OWNER may only fetch a vehicle they own (404 if not theirs, not 403 -- avoids leaking existence).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle: { $ref: '#/components/schemas/Vehicle' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a vehicle (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateVehicleInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle: { $ref: '#/components/schemas/Vehicle' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/vehicles/{vehicleId}/documents:
    parameters:
      - $ref: '#/components/parameters/vehicleId'
    get:
      summary: List a vehicle's compliance documents (DR-017)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items: { $ref: '#/components/schemas/DocumentSummary' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Upload a vehicle compliance document (fleet.write, staff only)
      description: >-
        kind is one of VEHICLE_REGISTRATION / VEHICLE_INSURANCE /
        VEHICLE_INSPECTION. PDF or a phone photo (JPEG/PNG) up to 10MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, kind]
              properties:
                file: { type: string, format: binary }
                kind: { type: string, enum: [VEHICLE_REGISTRATION, VEHICLE_INSURANCE, VEHICLE_INSPECTION] }
                expiresAt: { type: string, format: date-time }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  document: { $ref: '#/components/schemas/DocumentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/vehicles/{vehicleId}/documents/{documentId}:
    parameters:
      - $ref: '#/components/parameters/vehicleId'
      - $ref: '#/components/parameters/documentId'
    get:
      summary: Download a vehicle compliance document (DR-017)
      description: >-
        Streams the bytes server-side from Vercel Blob (access: 'private') --
        there is no public URL for this document. Every access is audited.
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/vehicles/{vehicleId}/maintenance:
    parameters:
      - $ref: '#/components/parameters/vehicleId'
    get:
      summary: List a vehicle's maintenance history (DR-029)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items: { $ref: '#/components/schemas/MaintenanceRecord' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Log a maintenance event (operator only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMaintenanceRecordInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  record: { $ref: '#/components/schemas/MaintenanceRecord' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/drivers:
    get:
      summary: List driver profiles (staff only -- DR-017)
      description: A DRIVER looks up their own profile via GET /fleet/drivers/{driverProfileId} instead.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  drivers:
                    type: array
                    items: { $ref: '#/components/schemas/DriverProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create a driver profile (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateDriverProfileInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  driver: { $ref: '#/components/schemas/DriverProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/drivers/{driverProfileId}:
    parameters:
      - $ref: '#/components/parameters/driverProfileId'
    get:
      summary: Get a driver profile
      description: A DRIVER may only fetch their own profile (404 if not theirs, not 403 -- avoids leaking existence).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  driver: { $ref: '#/components/schemas/DriverProfile' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a driver profile (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateDriverProfileInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  driver: { $ref: '#/components/schemas/DriverProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/drivers/{driverProfileId}/documents:
    parameters:
      - $ref: '#/components/parameters/driverProfileId'
    get:
      summary: List a driver's compliance documents (DR-017)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items: { $ref: '#/components/schemas/DocumentSummary' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Upload a driver's license document (fleet.write, staff only)
      description: kind is always DRIVER_LICENSE. PDF or a phone photo (JPEG/PNG) up to 10MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                expiresAt: { type: string, format: date-time }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  document: { $ref: '#/components/schemas/DocumentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/drivers/{driverProfileId}/documents/{documentId}:
    parameters:
      - $ref: '#/components/parameters/driverProfileId'
      - $ref: '#/components/parameters/documentId'
    get:
      summary: Download a driver's license document (DR-017)
      description: >-
        Streams the bytes server-side from Vercel Blob (access: 'private') --
        there is no public URL for this document. Every access is audited.
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/guides:
    get:
      summary: List guide profiles (staff only -- Guides Module, DR-030)
      description: A TOUR_GUIDE looks up their own profile via GET /fleet/guides/{guideProfileId} instead.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  guides:
                    type: array
                    items: { $ref: '#/components/schemas/GuideProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create a guide profile (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateGuideProfileInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  guide: { $ref: '#/components/schemas/GuideProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/guides/{guideProfileId}:
    parameters:
      - $ref: '#/components/parameters/guideProfileId'
    get:
      summary: Get a guide profile
      description: A TOUR_GUIDE may only fetch their own profile (404 if not theirs, not 403 -- avoids leaking existence).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  guide: { $ref: '#/components/schemas/GuideProfile' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a guide profile (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateGuideProfileInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  guide: { $ref: '#/components/schemas/GuideProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/guides/{guideProfileId}/documents:
    parameters:
      - $ref: '#/components/parameters/guideProfileId'
    get:
      summary: List a guide's certification documents (Guides Module, DR-030)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items: { $ref: '#/components/schemas/DocumentSummary' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Upload a guide's certification document (fleet.write, staff only)
      description: kind is always GUIDE_CERTIFICATION. PDF or a phone photo (JPEG/PNG) up to 10MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                expiresAt: { type: string, format: date-time }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  document: { $ref: '#/components/schemas/DocumentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/guides/{guideProfileId}/documents/{documentId}:
    parameters:
      - $ref: '#/components/parameters/guideProfileId'
      - $ref: '#/components/parameters/documentId'
    get:
      summary: Download a guide's certification document (Guides Module, DR-030)
      description: >-
        Streams the bytes server-side from Vercel Blob (access: 'private') --
        there is no public URL for this document. Every access is audited.
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/starlink-kits:
    get:
      summary: List Starlink kits (DR-029)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kits:
                    type: array
                    items: { $ref: '#/components/schemas/StarlinkKit' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Register a Starlink kit (operator only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateStarlinkKitInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  kit: { $ref: '#/components/schemas/StarlinkKit' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/starlink-kits/{kitId}:
    parameters:
      - name: kitId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Get a Starlink kit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kit: { $ref: '#/components/schemas/StarlinkKit' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a Starlink kit's status or vehicle assignment (operator only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateStarlinkKitInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kit: { $ref: '#/components/schemas/StarlinkKit' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/starlink-kits/{kitId}/location:
    parameters:
      - name: kitId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      summary: Set a Starlink kit's last known location (operator only)
      description: Staff-entered for now -- no live Starlink API integration exists yet (OI-09).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetStarlinkLocationInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kit: { $ref: '#/components/schemas/StarlinkKit' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /users/me:
    patch:
      summary: Update your own phone / preferred notification locale
      description: >-
        The first "no target id" endpoint -- ctx.userId is always the
        subject, so there is no ownership id to spoof.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProfileInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: '#/components/schemas/User' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: polco.session_token
      description: Better Auth session cookie (advanced.cookiePrefix = "polco").

  parameters:
    packageId:
      name: packageId
      in: path
      required: true
      schema: { type: string, format: uuid }
    departureId:
      name: departureId
      in: path
      required: true
      schema: { type: string, format: uuid }
    bookingId:
      name: bookingId
      in: path
      required: true
      schema: { type: string, format: uuid }
    travelerId:
      name: travelerId
      in: path
      required: true
      schema: { type: string, format: uuid }
    invoiceId:
      name: invoiceId
      in: path
      required: true
      schema: { type: string, format: uuid }
    paymentId:
      name: paymentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    vehicleId:
      name: vehicleId
      in: path
      required: true
      schema: { type: string, format: uuid }
    driverProfileId:
      name: driverProfileId
      in: path
      required: true
      schema: { type: string, format: uuid }
    guideProfileId:
      name: guideProfileId
      in: path
      required: true
      schema: { type: string, format: uuid }
    documentId:
      name: documentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    assignmentId:
      name: assignmentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    userId:
      name: userId
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    Forbidden:
      description: Caller lacks the required permission, or is not authenticated
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Resource not found (or hidden -- see anti-BOLA notes above)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    ValidationFailed:
      description: Request body failed schema validation
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    Problem:
      description: RFC 9457 problem+json (src/lib/errors.ts). Never contains stack traces or internals.
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        traceId: { type: string }

    Money:
      type: object
      properties:
        minor: { type: integer, description: 'Integer minor units, e.g. 1050 = 10.50 (BR-02, never a float)' }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }

    TourPackage:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        packageReference: { type: string, description: 'Business-facing reference, e.g. PKG-00034 (DR-028)' }
        title: { type: string }
        description: { type: string }
        country: { type: string, description: ISO-3166 alpha-2 }
        priceMinor: { type: integer }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        durationDays: { type: integer, nullable: true }
        status: { type: string, enum: [DRAFT, PUBLISHED, ARCHIVED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreatePackageInput:
      type: object
      required: [title, description, country, priceMinor, currency]
      properties:
        title: { type: string, minLength: 1, maxLength: 200 }
        description: { type: string, minLength: 1 }
        country: { type: string, minLength: 2, maxLength: 2 }
        priceMinor: { type: integer, minimum: 0 }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        durationDays: { type: integer, minimum: 1 }

    UpdatePackageInput:
      allOf:
        - $ref: '#/components/schemas/CreatePackageInput'
        - type: object
          properties:
            status: { type: string, enum: [DRAFT, PUBLISHED, ARCHIVED] }
      description: All fields optional (partial update).

    Departure:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        tourPackageId:
          type: string
          format: uuid
          nullable: true
          description: Null only for a bespoke departure converted from a TAILOR_MADE booking (DR-028, no TourPackage).
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time, nullable: true }
        capacity: { type: integer }
        priceOverrideMinor:
          type: integer
          nullable: true
          description: For a bespoke departure (no package), this IS the price -- not an override of anything.
        currency: { type: string, enum: [USD, EUR, NAD, CDF], nullable: true, description: Bespoke departures only. }
        customCountry: { type: string, nullable: true, description: 'Bespoke departures only -- ISO-3166 alpha-2 (DR-028).' }
        pickupLatitude: { type: number, nullable: true, description: 'Staff-entered (DR-029); feeds the assignment recommendation''s distance factor.' }
        pickupLongitude: { type: number, nullable: true }
        status: { type: string, enum: [SCHEDULED, CANCELLED, COMPLETED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateDepartureInput:
      type: object
      required: [startDate, capacity]
      properties:
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time }
        capacity: { type: integer, minimum: 1 }
        priceOverrideMinor: { type: integer, minimum: 0 }

    Availability:
      type: object
      properties:
        capacity: { type: integer }
        seatsAvailable: { type: integer }

    Booking:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        origin: { type: string, enum: [PREDEFINED_PACKAGE, TAILOR_MADE] }
        departureId:
          type: string
          format: uuid
          nullable: true
          description: Null only for a TAILOR_MADE booking (no fixed departure).
        touristUserId: { type: string, format: uuid }
        seats: { type: integer }
        status:
          type: string
          enum:
            [
              DRAFT,
              AWAITING_QUOTATION,
              QUOTATION_SENT,
              AWAITING_DEPOSIT,
              DEPOSIT_PAID,
              FULLY_PAID,
              CONFIRMED,
              IN_PROGRESS,
              COMPLETED,
              CANCELLED,
              REFUNDED,
            ]
          description: >-
            AWAITING_DEPOSIT is the seat hold (was HELD); an expired hold
            lazily sweeps to CANCELLED (no dedicated EXPIRED value).
        holdExpiresAt:
          type: string
          format: date-time
          nullable: true
          description: Set only while status = AWAITING_DEPOSIT, and only for a PREDEFINED_PACKAGE booking.
        priceMinor:
          type: integer
          nullable: true
          description: Null for a TAILOR_MADE booking until staff sends a quotation.
        currency: { type: string, enum: [USD, EUR, NAD, CDF], nullable: true }
        addonsFinalizedAt:
          type: string
          format: date-time
          nullable: true
          description: Set once the add-ons wizard step is submitted (DR-015), even choosing none. Gates invoicing.
        confirmationCode:
          type: string
          description: 8-char random, non-guessable guest-lookup secret (paired with the tour lead's last name).
        bookingReference:
          type: string
          description: 'Business-facing reference, e.g. POL-2026-000154. Coexists with confirmationCode.'
        specialRequests: { type: string, nullable: true, maxLength: 1000 }
        customCountry:
          type: string
          nullable: true
          description: TAILOR_MADE only -- ISO-3166 alpha-2, drives tax-rate lookup in lieu of a Departure's package.
        customTravelStart: { type: string, format: date-time, nullable: true, description: TAILOR_MADE only. }
        customTravelEnd: { type: string, format: date-time, nullable: true, description: TAILOR_MADE only. }
        customDescription: { type: string, nullable: true, maxLength: 2000, description: TAILOR_MADE only. }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Traveler:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        bookingId: { type: string, format: uuid }
        firstName: { type: string }
        lastName: { type: string }
        age: { type: integer }
        sex: { type: string, enum: [M, F, X], description: ICAO 9303 passport MRZ convention }
        nationality: { type: string, description: ISO-3166 alpha-2 }
        idOrPassportNumber: { type: string }
        phone: { type: string, nullable: true, description: E.164 }
        disabilities: { type: string, nullable: true }
        allergies: { type: string, nullable: true }
        drinkPreference: { type: string, nullable: true }
        emergencyContactName: { type: string, nullable: true, description: Guides Module, DR-030 }
        emergencyContactPhone: { type: string, nullable: true, description: 'Reference info, not E.164-validated (DR-030)' }
        emergencyContactRelation: { type: string, nullable: true, description: Guides Module, DR-030 }
        isTourLead: { type: boolean, description: Exactly one per booking; only this traveler needs a passport }
        passportDocumentId: { type: string, format: uuid, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    AddTravelerInput:
      type: object
      required: [firstName, lastName, age, sex, nationality, idOrPassportNumber]
      properties:
        firstName: { type: string, minLength: 1, maxLength: 100 }
        lastName: { type: string, minLength: 1, maxLength: 100 }
        age: { type: integer, minimum: 0, maximum: 120 }
        sex: { type: string, enum: [M, F, X] }
        nationality: { type: string, minLength: 2, maxLength: 2 }
        idOrPassportNumber: { type: string, minLength: 1, maxLength: 50 }
        phone: { type: string, description: E.164 }
        disabilities: { type: string, maxLength: 500 }
        allergies: { type: string, maxLength: 500 }
        drinkPreference: { type: string, maxLength: 200 }
        emergencyContactName: { type: string, maxLength: 200 }
        emergencyContactPhone: { type: string, maxLength: 50 }
        emergencyContactRelation: { type: string, maxLength: 100 }
        isTourLead: { type: boolean, default: false }

    TravelerDutyView:
      type: object
      description: >-
        Data-minimized projection for a guide's "client list" (Guides Module,
        DR-030) -- excludes idOrPassportNumber and passportDocumentId. Not
        exposed via a public /api/v1 route; internal to bookingService, called
        only by the /staff/schedule page for the caller's own assigned
        departures.
      properties:
        id: { type: string, format: uuid }
        firstName: { type: string }
        lastName: { type: string }
        age: { type: integer }
        sex: { type: string, enum: [M, F, X] }
        nationality: { type: string }
        phone: { type: string, nullable: true }
        disabilities: { type: string, nullable: true }
        allergies: { type: string, nullable: true }
        drinkPreference: { type: string, nullable: true }
        emergencyContactName: { type: string, nullable: true }
        emergencyContactPhone: { type: string, nullable: true }
        emergencyContactRelation: { type: string, nullable: true }
        isTourLead: { type: boolean }

    DocumentSummary:
      type: object
      description: Never includes the underlying Vercel Blob pathname (Documents rule, CLAUDE.md).
      properties:
        id: { type: string, format: uuid }
        kind:
          type: string
          description: >-
            PASSPORT | VEHICLE_REGISTRATION | VEHICLE_INSURANCE |
            VEHICLE_INSPECTION | DRIVER_LICENSE (DR-017) | VISA (DR-019) |
            GUIDE_CERTIFICATION (DR-030)
        contentType: { type: string }
        sizeBytes: { type: integer }
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: Compliance documents only (DR-017); null for PASSPORT.
        createdAt: { type: string, format: date-time }

    BookingAddon:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        bookingId: { type: string, format: uuid }
        addonServiceId: { type: string, format: uuid }
        priceMinor: { type: integer, description: Snapshotted from AddonService at selection time }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        createdAt: { type: string, format: date-time }

    SetAddonsInput:
      type: object
      required: [addonServiceIds]
      description: Replace-all -- an empty array is valid (choosing no add-ons).
      properties:
        addonServiceIds:
          type: array
          items: { type: string, format: uuid }

    CreateBookingInput:
      type: object
      required: [departureId, seats]
      properties:
        departureId: { type: string, format: uuid }
        seats: { type: integer, minimum: 1 }
        touristUserId:
          type: string
          format: uuid
          description: Staff-only -- lets an operator book on a tourist's behalf (phone/walk-in). Ignored for a tourist caller.
        specialRequests: { type: string, maxLength: 1000 }

    CreateTailorMadeInput:
      type: object
      required: [customCountry, customTravelStart, customTravelEnd, seats, customDescription]
      description: A bespoke trip request with no pre-existing Departure -- staff price it via POST /bookings/{bookingId}/quotation.
      properties:
        customCountry: { type: string, minLength: 2, maxLength: 2, description: ISO-3166 alpha-2 }
        customTravelStart: { type: string, format: date-time }
        customTravelEnd: { type: string, format: date-time }
        seats: { type: integer, minimum: 1 }
        customDescription: { type: string, minLength: 1, maxLength: 2000 }
        touristUserId:
          type: string
          format: uuid
          description: Staff-only -- lets an operator submit this on a tourist's behalf. Ignored for a tourist caller.
        specialRequests: { type: string, maxLength: 1000 }

    SendQuotationInput:
      type: object
      required: [priceMinor, currency]
      properties:
        priceMinor: { type: integer, minimum: 1 }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }

    Invoice:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        bookingId: { type: string, format: uuid }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        subtotalMinor: { type: integer }
        taxRateBp: { type: integer, description: Snapshotted at invoice-issue time (DR-006) }
        taxMinor: { type: integer }
        totalMinor: { type: integer }
        depositMinor: { type: integer, description: 40% of totalMinor, half-up (DR-012) }
        balanceMinor: { type: integer, description: totalMinor - depositMinor }
        status: { type: string, enum: [DRAFT, ISSUED, PARTIALLY_PAID, PAID, VOID] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        invoiceId: { type: string, format: uuid }
        kind: { type: string, enum: [DEPOSIT, BALANCE] }
        amountMinor: { type: integer }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        provider: { type: string, description: 'Always "DPO" this increment -- gateway is stubbed (OI-01)' }
        providerRef: { type: string, nullable: true }
        status: { type: string, enum: [PENDING, SUCCEEDED, FAILED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    InitiatePaymentInput:
      type: object
      required: [kind]
      properties:
        kind: { type: string, enum: [DEPOSIT, BALANCE] }

    ResolvePaymentInput:
      type: object
      required: [outcome]
      properties:
        outcome: { type: string, enum: [SUCCEEDED, FAILED] }

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        name: { type: string, nullable: true }
        role: { type: string, description: 'Primary role (DR-026) -- see roles for the full held set' }
        roles: { type: array, items: { type: string }, description: 'DR-026: every role this user holds simultaneously (Membership rows + primary role, deduped)' }
        organizationId: { type: string, format: uuid, nullable: true }
        emailVerified: { type: boolean }
        phone: { type: string, nullable: true, description: E.164 }
        preferredLocale: { type: string, enum: [EN, FR] }
        deletedAt: { type: string, format: date-time, nullable: true, description: 'DR-026: null = active, set = deactivated' }
        mustChangePassword: { type: boolean, description: 'DR-026: forces a password change at first sign-in' }

    UpdateProfileInput:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200, description: 'Added for the guest-checkout contact-info step (DR-016)' }
        phone: { type: string, nullable: true, description: E.164 }
        preferredLocale: { type: string, enum: [EN, FR] }

    CreateUserInput:
      type: object
      required: [name, email, roles]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        email: { type: string, format: email }
        phone: { type: string, nullable: true, description: E.164 }
        roles:
          type: array
          minItems: 1
          items:
            type: string
            enum: [SUPERADMIN, PLATFORM_ADMIN, TOUR_OPERATOR, TOUR_GUIDE, DRIVER, VEHICLE_OWNER, VISA_FACILITATOR]
          description: TOURIST is deliberately not assignable -- tourists only ever come from guest checkout (DR-016)

    Vehicle:
      type: object
      description: Fleet + compliance (DR-017). No link to Departure/Booking yet -- that's Assignments, a later Phase 2 increment.
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        ownerId: { type: string, format: uuid, nullable: true, description: VEHICLE_OWNER user; null = operator-owned }
        plateNumber: { type: string }
        vin: { type: string, nullable: true, description: Chassis/VIN (DR-029) -- distinct from plateNumber. }
        make: { type: string }
        model: { type: string }
        year: { type: integer, nullable: true }
        vehicleType: { type: string, description: 'Open-ended (sedan/minibus/4x4/boat...), not an enum' }
        seatCapacity: { type: integer }
        status: { type: string, enum: [ACTIVE, MAINTENANCE, RETIRED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateVehicleInput:
      type: object
      required: [plateNumber, make, model, vehicleType, seatCapacity]
      properties:
        ownerId: { type: string, format: uuid }
        plateNumber: { type: string, minLength: 1, maxLength: 32 }
        vin: { type: string, minLength: 1, maxLength: 64 }
        make: { type: string, minLength: 1, maxLength: 100 }
        model: { type: string, minLength: 1, maxLength: 100 }
        year: { type: integer, minimum: 1 }
        vehicleType: { type: string, minLength: 1, maxLength: 50 }
        seatCapacity: { type: integer, minimum: 1 }

    UpdateVehicleInput:
      allOf:
        - $ref: '#/components/schemas/CreateVehicleInput'
        - type: object
          properties:
            status: { type: string, enum: [ACTIVE, MAINTENANCE, RETIRED] }
      description: All fields optional (partial update).

    DriverProfile:
      type: object
      description: 1:1 with a DRIVER-role User (DR-017).
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        licenseNumber: { type: string }
        licenseExpiresAt: { type: string, format: date-time, nullable: true }
        languages: { type: array, items: { type: string }, description: 'ISO-639-1 codes, e.g. ["en","fr"] (DR-029)' }
        status: { type: string, enum: [ACTIVE, SUSPENDED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateDriverProfileInput:
      type: object
      required: [userId, licenseNumber]
      properties:
        userId: { type: string, format: uuid }
        licenseNumber: { type: string, minLength: 1, maxLength: 100 }
        licenseExpiresAt: { type: string, format: date-time }
        languages: { type: array, items: { type: string, minLength: 2, maxLength: 2 } }

    UpdateDriverProfileInput:
      type: object
      properties:
        licenseNumber: { type: string, minLength: 1, maxLength: 100 }
        licenseExpiresAt: { type: string, format: date-time }
        languages: { type: array, items: { type: string, minLength: 2, maxLength: 2 } }
        status: { type: string, enum: [ACTIVE, SUSPENDED] }

    GuideProfile:
      type: object
      description: 1:1 with a TOUR_GUIDE-role User (Guides Module, DR-030). Folded into the fleet module.
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        languages: { type: array, items: { type: string }, description: 'ISO-639-1 codes, e.g. ["en","fr"]' }
        specialties: { type: array, items: { type: string }, description: 'Freeform, e.g. ["wildlife","gorilla trekking"]' }
        status: { type: string, enum: [ACTIVE, SUSPENDED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateGuideProfileInput:
      type: object
      required: [userId]
      properties:
        userId: { type: string, format: uuid }
        languages: { type: array, items: { type: string, minLength: 2, maxLength: 2 } }
        specialties: { type: array, items: { type: string, minLength: 1, maxLength: 50 } }

    UpdateGuideProfileInput:
      type: object
      properties:
        languages: { type: array, items: { type: string, minLength: 2, maxLength: 2 } }
        specialties: { type: array, items: { type: string, minLength: 1, maxLength: 50 } }
        status: { type: string, enum: [ACTIVE, SUSPENDED] }

    MaintenanceRecord:
      type: object
      description: Append-only maintenance log per vehicle (DR-029). No scheduled/due-date concept yet.
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        vehicleId: { type: string, format: uuid }
        performedAt: { type: string, format: date-time }
        description: { type: string }
        costMinor: { type: integer, nullable: true }
        currency: { type: string, enum: [USD, EUR, NAD, CDF], nullable: true, description: Given together with costMinor, or not at all. }
        createdAt: { type: string, format: date-time }

    CreateMaintenanceRecordInput:
      type: object
      required: [performedAt, description]
      properties:
        performedAt: { type: string, format: date-time }
        description: { type: string, minLength: 1, maxLength: 500 }
        costMinor: { type: integer, minimum: 0 }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }

    StarlinkKit:
      type: object
      description: >-
        A Starlink kit is a fleet resource in its own right (DR-029), 1:1 with
        the Vehicle it's mounted in. lastLatitude/lastLongitude/lastLocationAt
        are staff-entered for now -- no live Starlink API integration exists
        yet (OI-09).
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        kitId: { type: string, description: "Starlink's own serial/kit identifier, staff-entered" }
        status: { type: string, enum: [ACTIVE, INACTIVE, MAINTENANCE] }
        vehicleId: { type: string, format: uuid, nullable: true }
        lastLatitude: { type: number, nullable: true }
        lastLongitude: { type: number, nullable: true }
        lastLocationAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateStarlinkKitInput:
      type: object
      required: [kitId]
      properties:
        kitId: { type: string, minLength: 1, maxLength: 100 }
        vehicleId: { type: string, format: uuid }

    UpdateStarlinkKitInput:
      type: object
      properties:
        status: { type: string, enum: [ACTIVE, INACTIVE, MAINTENANCE] }
        vehicleId: { type: string, format: uuid, nullable: true }

    SetStarlinkLocationInput:
      type: object
      required: [latitude, longitude]
      properties:
        latitude: { type: number, minimum: -90, maximum: 90 }
        longitude: { type: number, minimum: -180, maximum: 180 }

    SetDeparturePickupLocationInput:
      type: object
      required: [latitude, longitude]
      properties:
        latitude: { type: number, minimum: -90, maximum: 90 }
        longitude: { type: number, minimum: -180, maximum: 180 }

    AssignmentRecommendation:
      type: object
      description: >-
        DR-029. A simple, transparent rules-based recommendation -- NOT the
        "AI assignment engine" this project's roadmap lists as Phase 3.
        Drivers are eligibility-filtered only (no rating data exists to rank
        them by).
      properties:
        vehicles:
          type: array
          items:
            type: object
            properties:
              vehicle: { $ref: '#/components/schemas/Vehicle' }
              score: { type: number, description: '0-1, equal-weighted average of available factors' }
        drivers:
          type: array
          items: { $ref: '#/components/schemas/DriverProfile' }
        recommendedVehicleId: { type: string, format: uuid, nullable: true }
        recommendedDriverId: { type: string, format: uuid, nullable: true }

    Assignment:
      type: object
      description: Links a Departure to the vehicle/driver/guide staffing it (DR-018).
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        departureId: { type: string, format: uuid }
        vehicleId: { type: string, format: uuid }
        driverProfileId: { type: string, format: uuid }
        guideUserId: { type: string, format: uuid, nullable: true, description: TOUR_GUIDE-role user; optional }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateAssignmentInput:
      type: object
      required: [vehicleId, driverProfileId]
      properties:
        vehicleId: { type: string, format: uuid }
        driverProfileId: { type: string, format: uuid }
        guideUserId: { type: string, format: uuid }

    VisaApplication:
      type: object
      description: Facilitator-facing view (DR-019).
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        travelerId: { type: string, format: uuid }
        country: { type: string, description: 'ISO-3166 alpha-2, destination -- snapshotted at submit time' }
        status: { type: string, enum: [SUBMITTED, APPROVED, REJECTED] }
        rejectionReason: { type: string, nullable: true, description: 'Set only while REJECTED; cleared on resubmit or a later APPROVED decision (DR-025)' }
        resubmissionCount: { type: integer, description: 'Display-only counter, bumped by /visa/resubmit (DR-025)' }
        documentId: { type: string, format: uuid, nullable: true, description: The granted visa document }
        submittedAt: { type: string, format: date-time }
        decidedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    DecideVisaInput:
      type: object
      required: [outcome]
      properties:
        outcome: { type: string, enum: [APPROVED, REJECTED] }
        reason: { type: string, maxLength: 500, description: 'Only persisted when outcome is REJECTED (DR-025)' }

    FacilitatorVisaView:
      type: object
      description: >-
        VISA_FACILITATOR's own whole-org visa queue (My Schedule, DR-031) --
        includes rejectionReason and travelerId since this role already
        holds unscoped visa.process; documentId itself still isn't exposed,
        only hasDocument. travelStartDate is resolved live via
        Traveler -> Booking -> Departure (or Booking.customTravelStart for a
        TAILOR_MADE booking), null if that chain can't be resolved for this
        caller.
      properties:
        id: { type: string, format: uuid }
        travelerId: { type: string, format: uuid }
        travelerFirstName: { type: string }
        travelerLastName: { type: string }
        travelerNationality: { type: string }
        travelerIdOrPassportNumber: { type: string }
        country: { type: string }
        status: { type: string, enum: [SUBMITTED, APPROVED, REJECTED] }
        rejectionReason: { type: string, nullable: true }
        resubmissionCount: { type: integer }
        hasDocument: { type: boolean }
        submittedAt: { type: string, format: date-time }
        decidedAt: { type: string, format: date-time, nullable: true }
        travelStartDate: { type: string, format: date-time, nullable: true }
