openapi: 3.0.3
info:
  title: POLCO TOURS API
  version: 0.8.0
  description: >
    DR-025 adds resubmission: a REJECTED VisaApplication can be reset back
    to SUBMITTED via /bookings/{bookingId}/travelers/{travelerId}
    /visa/resubmit (visa.process, same anti-BOLA check as submit/decide).
    DecideVisaInput gains an optional reason, persisted as
    VisaApplicationView.rejectionReason only while REJECTED (cleared on
    resubmit or a later APPROVED decision); resubmissionCount is a
    display-only counter also exposed on the officer's minimized
    OfficerVisaView.
    DR-019 adds Phase 2 Increment 3 (visa documents): a per-traveler
    VisaApplication workflow (SUBMITTED -> APPROVED/REJECTED, resubmittable
    per DR-025) under
    /bookings/{bookingId}/travelers/{travelerId}/visa(/submit|/decide
    |/resubmit|/document), reusing documentsService.uploadDocument (kind: VISA).
    /immigration/visa-applications is a country-scoped list for
    IMMIGRATION_OFFICER (BR-10) -- forced to their own assignedCountry,
    set via the new admin-only PATCH /users/{userId}/assign-country.
    The officer's list returns a minimal OfficerVisaView (traveler
    identity is snapshotted onto VisaApplication at submit time, so this
    never calls into the booking module, which that role has no
    permission for). DR-018 adds Phase 2 Increment 2 (assignments): /departures/{id}
    /assignments and /assignments/{id}, linking a Departure to the vehicle/
    driver/guide staffing it (a departure can have several, one per vehicle).
    Rejects an inactive vehicle/driver, a guideUserId not referencing a
    TOUR_GUIDE in the same org, or a vehicle/driver already assigned to a
    date-overlapping departure (double-booking). /assignments/mine is a
    self-service schedule lookup for TOUR_GUIDE/DRIVER/VEHICLE_OWNER,
    API-only this increment (no staff-dashboard portal yet for those roles).
    DR-017 added Phase 2 Increment 1 (fleet + compliance): /fleet/vehicles and
    /fleet/drivers, plus a generalized document upload (documentsService
    .uploadDocument) reused for vehicle registration/insurance/inspection and
    driver license documents, each with an optional expiresAt for compliance
    tracking. VEHICLE_OWNER/DRIVER only ever see their own records
    (fleet/service.ts). DR-015 added the booking-setup wizard: per-seat
    travelers, a tour lead's passport PDF (first real Vercel Blob usage,
    DR-010), and priced add-on services that now flow into the invoice
    subtotal via bookingService.getBillableTotal. GET
    /bookings/{bookingId}/invoice 409s until the traveler manifest, tour-lead
    passport, and add-ons step are all complete. Document bytes are always
    streamed through this API server-side (Vercel Blob access: 'private') and
    never exposed as a raw URL. Extend this file as new endpoints are added
    (do not let it drift).
servers:
  - url: https://polcotours.com/api/v1
  - url: http://localhost:3000/api/v1
security:
  - sessionCookie: []

paths:
  /catalog/packages:
    get:
      summary: List tour packages
      description: Non-operator roles only ever see PUBLISHED packages.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  packages:
                    type: array
                    items: { $ref: '#/components/schemas/TourPackage' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create a tour package
      security: [{ sessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePackageInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  package: { $ref: '#/components/schemas/TourPackage' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /catalog/packages/{packageId}:
    parameters:
      - $ref: '#/components/parameters/packageId'
    get:
      summary: Get a tour package
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  package: { $ref: '#/components/schemas/TourPackage' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a tour package
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdatePackageInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  package: { $ref: '#/components/schemas/TourPackage' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /catalog/packages/{packageId}/departures:
    parameters:
      - $ref: '#/components/parameters/packageId'
    get:
      summary: List departures for a package
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  departures:
                    type: array
                    items: { $ref: '#/components/schemas/Departure' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Schedule a departure
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateDepartureInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  departure: { $ref: '#/components/schemas/Departure' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /departures/{departureId}:
    parameters:
      - $ref: '#/components/parameters/departureId'
    get:
      summary: Get departure detail with inline availability
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  departure: { $ref: '#/components/schemas/Departure' }
                  packageStatus: { type: string }
                  packageCountry: { type: string }
                  effectiveUnitPrice: { $ref: '#/components/schemas/Money' }
                  bookable: { type: boolean }
                  seatsAvailable: { type: integer }
        '404': { $ref: '#/components/responses/NotFound' }

  /departures/{departureId}/availability:
    parameters:
      - $ref: '#/components/parameters/departureId'
    get:
      summary: Lightweight pre-submit availability recheck
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Availability' }
        '404': { $ref: '#/components/responses/NotFound' }

  /departures/{departureId}/assignments:
    parameters:
      - $ref: '#/components/parameters/departureId'
    get:
      summary: List a departure's assignments (manager-only, DR-018)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignments:
                    type: array
                    items: { $ref: '#/components/schemas/Assignment' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Assign a vehicle + driver (+ optional guide) to a departure (DR-018)
      description: >-
        A departure can have several assignments, one per vehicle, once its
        capacity exceeds one vehicle's seatCapacity. Rejects an inactive
        vehicle/driver, a guideUserId not referencing a TOUR_GUIDE in this
        org, or a vehicle/driver already assigned to a date-overlapping
        departure (double-booking).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAssignmentInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignment: { $ref: '#/components/schemas/Assignment' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Inactive vehicle/driver, double-booking, or this vehicle is already on this departure
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /assignments/{assignmentId}:
    parameters:
      - $ref: '#/components/parameters/assignmentId'
    delete:
      summary: Remove an assignment (manager-only, DR-018)
      responses:
        '204':
          description: No Content
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /assignments/mine:
    get:
      summary: List the caller's own assignments (DR-018)
      description: >-
        TOUR_GUIDE/DRIVER/VEHICLE_OWNER only -- scoped to their own guide/
        driver-profile/vehicle records in assignment/service.ts. API-only
        this increment, no staff-dashboard portal yet for these roles.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignments:
                    type: array
                    items: { $ref: '#/components/schemas/Assignment' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /bookings:
    get:
      summary: List bookings
      description: Tourist -> own bookings only. Staff -> the full org manifest.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookings:
                    type: array
                    items: { $ref: '#/components/schemas/Booking' }
    post:
      summary: Place a seat hold (30-minute expiry)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateBookingInput' }
      responses:
        '201':
          description: Held
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: Departure is sold out or not bookable
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    get:
      summary: Get a booking
      description: A tourist may only fetch their own booking (404 if not theirs, not 403 -- avoids leaking existence).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/confirm:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: >-
        Confirm a held booking (operator only -- deliberately uncoupled from
        invoice/payment status this increment, no DPO payment gate yet, OI-01 open)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/cancel:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: Cancel a booking
      description: A tourist may only cancel their own booking; an operator may cancel any booking in their org.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking: { $ref: '#/components/schemas/Booking' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/invoice:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    get:
      summary: Get (or lazily create) the invoice for a booking
      description: >-
        Idempotent get-or-create -- an invoice is created on first access, not
        at hold time. Snapshots per-country tax (DR-006) and the 40/60
        deposit/balance split (DR-012). Subtotal is the booking's seat price
        plus any finalized add-ons (DR-015, bookingService.getBillableTotal).
        Ownership is inherited from the booking's own anti-BOLA check.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice: { $ref: '#/components/schemas/Invoice' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: >-
            No effective tax rate configured for this country, OR the
            traveler manifest / tour-lead passport / add-ons wizard steps
            (DR-015) are not all complete yet.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /bookings/{bookingId}/travelers:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    get:
      summary: List a booking's travelers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  travelers:
                    type: array
                    items: { $ref: '#/components/schemas/Traveler' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Add a traveler to the booking (DR-015)
      description: >-
        One Traveler per seat, no more (409 once seats are filled). Exactly
        one may be isTourLead=true per booking; only that traveler needs a
        passport upload.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AddTravelerInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  traveler: { $ref: '#/components/schemas/Traveler' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: All seats already have a traveler, or a tour lead is already set
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}/travelers/{travelerId}/passport:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    get:
      summary: Download the tour lead's passport (DR-015)
      description: >-
        Streams the PDF bytes server-side from Vercel Blob (access: 'private')
        -- there is no public URL for this document. Every access is audited
        (Documents rule, CLAUDE.md).
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Upload the tour lead's passport (DR-015)
      description: Only the traveler flagged isTourLead may have a passport attached.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [passport]
              properties:
                passport: { type: string, format: binary, description: 'PDF, up to 10MB' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  document: { $ref: '#/components/schemas/DocumentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: This traveler is not the tour lead
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}/travelers/{travelerId}/visa:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    get:
      summary: View a traveler's visa application (DR-019)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  application: { $ref: '#/components/schemas/VisaApplication' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/travelers/{travelerId}/visa/submit:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    post:
      summary: Submit a visa application for a traveler (VISA_FACILITATOR, DR-019)
      description: >-
        Snapshots the traveler's identity and the departure's destination
        country onto the application -- one per traveler; once decided, a
        REJECTED application can be reset back to SUBMITTED via
        /visa/resubmit (DR-025), an APPROVED one cannot.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  application: { $ref: '#/components/schemas/VisaApplication' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: A visa application already exists for this traveler
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /bookings/{bookingId}/travelers/{travelerId}/visa/decide:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    post:
      summary: Approve or reject a SUBMITTED visa application (VISA_FACILITATOR, DR-019)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DecideVisaInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  application: { $ref: '#/components/schemas/VisaApplication' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: The application is not SUBMITTED
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}/travelers/{travelerId}/visa/resubmit:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    post:
      summary: Resubmit a REJECTED visa application (VISA_FACILITATOR, DR-025)
      description: >-
        Resets the same application back to SUBMITTED (status, decidedAt,
        rejectionReason, documentId all cleared; submittedAt bumped so it
        resurfaces for review; resubmissionCount incremented). The prior
        rejection is preserved permanently in the audit log
        (visa.resubmitted), not on the row itself.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  application: { $ref: '#/components/schemas/VisaApplication' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: The application is not REJECTED
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /bookings/{bookingId}/travelers/{travelerId}/visa/document:
    parameters:
      - $ref: '#/components/parameters/bookingId'
      - $ref: '#/components/parameters/travelerId'
    get:
      summary: Download the granted visa document (DR-019)
      description: >-
        Streams the bytes server-side from Vercel Blob (access: 'private') --
        there is no public URL for this document. Every access is audited.
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Upload the granted visa document (VISA_FACILITATOR, DR-019)
      description: PDF or a phone photo (JPEG/PNG) up to 10MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  document: { $ref: '#/components/schemas/DocumentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /immigration/visa-applications:
    get:
      summary: List visa applications, country-scoped (IMMIGRATION_OFFICER, DR-019)
      description: >-
        IMMIGRATION_OFFICER is forced to their own assignedCountry (BR-10);
        ?country= is ignored for that role. Admins may pass ?country= to
        filter or omit it to see every country in the org.
      parameters:
        - name: country
          in: query
          required: false
          schema: { type: string, minLength: 2, maxLength: 2 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  applications:
                    type: array
                    items: { $ref: '#/components/schemas/OfficerVisaView' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /users/{userId}/assign-country:
    parameters:
      - $ref: '#/components/parameters/userId'
    patch:
      summary: Assign an IMMIGRATION_OFFICER's country scope (admin-only, DR-019)
      description: Admin-only (SUPERADMIN/PLATFORM_ADMIN). No staff UI -- API-only this increment.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignOfficerCountryInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: '#/components/schemas/User' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /bookings/{bookingId}/addons:
    parameters:
      - $ref: '#/components/parameters/bookingId'
    post:
      summary: Finalize the booking's add-on selection (DR-015)
      description: >-
        Replace-all semantics -- meant to be called once, including with an
        empty list (choosing none). Snapshots each AddonService's price/
        currency onto the Booking and stamps addonsFinalizedAt, which gates
        invoice creation (GET /bookings/{bookingId}/invoice).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetAddonsInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  addons:
                    type: array
                    items: { $ref: '#/components/schemas/BookingAddon' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: An add-on's currency does not match the booking's currency
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /invoices/{invoiceId}/payments:
    parameters:
      - $ref: '#/components/parameters/invoiceId'
    get:
      summary: List payment attempts for an invoice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items: { $ref: '#/components/schemas/Payment' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Initiate a deposit or balance payment (stubbed DPO gateway)
      description: >-
        DPO's real commercial terms are still pending (OI-01) -- this returns
        a fake redirect URL and a PENDING payment; a staff-only
        /payments/{paymentId}/resolve action stands in for DPO's future
        webhook. The balance leg cannot be initiated until the deposit has
        succeeded.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InitiatePaymentInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment: { $ref: '#/components/schemas/Payment' }
                  redirectUrl: { type: string, format: uri }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: This payment leg cannot be initiated in the invoice's current state
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /payments/{paymentId}/resolve:
    parameters:
      - $ref: '#/components/parameters/paymentId'
    post:
      summary: Resolve a pending payment (staff only -- stands in for a future DPO webhook)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResolvePaymentInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment: { $ref: '#/components/schemas/Payment' }
                  invoice: { $ref: '#/components/schemas/Invoice' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/vehicles:
    get:
      summary: List vehicles
      description: >-
        TOUR_OPERATOR/SUPERADMIN see the whole org fleet. VEHICLE_OWNER sees
        only vehicles where ownerId matches them (DR-017).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicles:
                    type: array
                    items: { $ref: '#/components/schemas/Vehicle' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Register a vehicle (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateVehicleInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle: { $ref: '#/components/schemas/Vehicle' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/vehicles/{vehicleId}:
    parameters:
      - $ref: '#/components/parameters/vehicleId'
    get:
      summary: Get a vehicle
      description: A VEHICLE_OWNER may only fetch a vehicle they own (404 if not theirs, not 403 -- avoids leaking existence).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle: { $ref: '#/components/schemas/Vehicle' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a vehicle (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateVehicleInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle: { $ref: '#/components/schemas/Vehicle' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/vehicles/{vehicleId}/documents:
    parameters:
      - $ref: '#/components/parameters/vehicleId'
    get:
      summary: List a vehicle's compliance documents (DR-017)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items: { $ref: '#/components/schemas/DocumentSummary' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Upload a vehicle compliance document (fleet.write, staff only)
      description: >-
        kind is one of VEHICLE_REGISTRATION / VEHICLE_INSURANCE /
        VEHICLE_INSPECTION. PDF or a phone photo (JPEG/PNG) up to 10MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, kind]
              properties:
                file: { type: string, format: binary }
                kind: { type: string, enum: [VEHICLE_REGISTRATION, VEHICLE_INSURANCE, VEHICLE_INSPECTION] }
                expiresAt: { type: string, format: date-time }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  document: { $ref: '#/components/schemas/DocumentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/vehicles/{vehicleId}/documents/{documentId}:
    parameters:
      - $ref: '#/components/parameters/vehicleId'
      - $ref: '#/components/parameters/documentId'
    get:
      summary: Download a vehicle compliance document (DR-017)
      description: >-
        Streams the bytes server-side from Vercel Blob (access: 'private') --
        there is no public URL for this document. Every access is audited.
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/drivers:
    get:
      summary: List driver profiles (staff only -- DR-017)
      description: A DRIVER looks up their own profile via GET /fleet/drivers/{driverProfileId} instead.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  drivers:
                    type: array
                    items: { $ref: '#/components/schemas/DriverProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create a driver profile (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateDriverProfileInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  driver: { $ref: '#/components/schemas/DriverProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/drivers/{driverProfileId}:
    parameters:
      - $ref: '#/components/parameters/driverProfileId'
    get:
      summary: Get a driver profile
      description: A DRIVER may only fetch their own profile (404 if not theirs, not 403 -- avoids leaking existence).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  driver: { $ref: '#/components/schemas/DriverProfile' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update a driver profile (fleet.write, staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateDriverProfileInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  driver: { $ref: '#/components/schemas/DriverProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /fleet/drivers/{driverProfileId}/documents:
    parameters:
      - $ref: '#/components/parameters/driverProfileId'
    get:
      summary: List a driver's compliance documents (DR-017)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items: { $ref: '#/components/schemas/DocumentSummary' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      summary: Upload a driver's license document (fleet.write, staff only)
      description: kind is always DRIVER_LICENSE. PDF or a phone photo (JPEG/PNG) up to 10MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                expiresAt: { type: string, format: date-time }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  document: { $ref: '#/components/schemas/DocumentSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /fleet/drivers/{driverProfileId}/documents/{documentId}:
    parameters:
      - $ref: '#/components/parameters/driverProfileId'
      - $ref: '#/components/parameters/documentId'
    get:
      summary: Download a driver's license document (DR-017)
      description: >-
        Streams the bytes server-side from Vercel Blob (access: 'private') --
        there is no public URL for this document. Every access is audited.
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /users/me:
    patch:
      summary: Update your own phone / preferred notification locale
      description: >-
        The first "no target id" endpoint -- ctx.userId is always the
        subject, so there is no ownership id to spoof. Denied to
        IMMIGRATION_OFFICER (BR-10).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProfileInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: '#/components/schemas/User' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: polco.session_token
      description: Better Auth session cookie (advanced.cookiePrefix = "polco").

  parameters:
    packageId:
      name: packageId
      in: path
      required: true
      schema: { type: string, format: uuid }
    departureId:
      name: departureId
      in: path
      required: true
      schema: { type: string, format: uuid }
    bookingId:
      name: bookingId
      in: path
      required: true
      schema: { type: string, format: uuid }
    travelerId:
      name: travelerId
      in: path
      required: true
      schema: { type: string, format: uuid }
    invoiceId:
      name: invoiceId
      in: path
      required: true
      schema: { type: string, format: uuid }
    paymentId:
      name: paymentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    vehicleId:
      name: vehicleId
      in: path
      required: true
      schema: { type: string, format: uuid }
    driverProfileId:
      name: driverProfileId
      in: path
      required: true
      schema: { type: string, format: uuid }
    documentId:
      name: documentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    assignmentId:
      name: assignmentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    userId:
      name: userId
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    Forbidden:
      description: Caller lacks the required permission, or is not authenticated
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Resource not found (or hidden -- see anti-BOLA notes above)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    ValidationFailed:
      description: Request body failed schema validation
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    Problem:
      description: RFC 9457 problem+json (src/lib/errors.ts). Never contains stack traces or internals.
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        traceId: { type: string }

    Money:
      type: object
      properties:
        minor: { type: integer, description: 'Integer minor units, e.g. 1050 = 10.50 (BR-02, never a float)' }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }

    TourPackage:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        title: { type: string }
        description: { type: string }
        country: { type: string, description: ISO-3166 alpha-2 }
        priceMinor: { type: integer }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        durationDays: { type: integer, nullable: true }
        status: { type: string, enum: [DRAFT, PUBLISHED, ARCHIVED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreatePackageInput:
      type: object
      required: [title, description, country, priceMinor, currency]
      properties:
        title: { type: string, minLength: 1, maxLength: 200 }
        description: { type: string, minLength: 1 }
        country: { type: string, minLength: 2, maxLength: 2 }
        priceMinor: { type: integer, minimum: 0 }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        durationDays: { type: integer, minimum: 1 }

    UpdatePackageInput:
      allOf:
        - $ref: '#/components/schemas/CreatePackageInput'
        - type: object
          properties:
            status: { type: string, enum: [DRAFT, PUBLISHED, ARCHIVED] }
      description: All fields optional (partial update).

    Departure:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        tourPackageId: { type: string, format: uuid }
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time, nullable: true }
        capacity: { type: integer }
        priceOverrideMinor: { type: integer, nullable: true }
        status: { type: string, enum: [SCHEDULED, CANCELLED, COMPLETED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateDepartureInput:
      type: object
      required: [startDate, capacity]
      properties:
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time }
        capacity: { type: integer, minimum: 1 }
        priceOverrideMinor: { type: integer, minimum: 0 }

    Availability:
      type: object
      properties:
        capacity: { type: integer }
        seatsAvailable: { type: integer }

    Booking:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        departureId: { type: string, format: uuid }
        touristUserId: { type: string, format: uuid }
        seats: { type: integer }
        status: { type: string, enum: [HELD, CONFIRMED, CANCELLED, EXPIRED] }
        holdExpiresAt: { type: string, format: date-time, nullable: true }
        priceMinor: { type: integer }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        addonsFinalizedAt:
          type: string
          format: date-time
          nullable: true
          description: Set once the add-ons wizard step is submitted (DR-015), even choosing none. Gates invoicing.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Traveler:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        bookingId: { type: string, format: uuid }
        firstName: { type: string }
        lastName: { type: string }
        age: { type: integer }
        sex: { type: string, enum: [M, F, X], description: ICAO 9303 passport MRZ convention }
        nationality: { type: string, description: ISO-3166 alpha-2 }
        idOrPassportNumber: { type: string }
        phone: { type: string, nullable: true, description: E.164 }
        disabilities: { type: string, nullable: true }
        allergies: { type: string, nullable: true }
        drinkPreference: { type: string, nullable: true }
        isTourLead: { type: boolean, description: Exactly one per booking; only this traveler needs a passport }
        passportDocumentId: { type: string, format: uuid, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    AddTravelerInput:
      type: object
      required: [firstName, lastName, age, sex, nationality, idOrPassportNumber]
      properties:
        firstName: { type: string, minLength: 1, maxLength: 100 }
        lastName: { type: string, minLength: 1, maxLength: 100 }
        age: { type: integer, minimum: 0, maximum: 120 }
        sex: { type: string, enum: [M, F, X] }
        nationality: { type: string, minLength: 2, maxLength: 2 }
        idOrPassportNumber: { type: string, minLength: 1, maxLength: 50 }
        phone: { type: string, description: E.164 }
        disabilities: { type: string, maxLength: 500 }
        allergies: { type: string, maxLength: 500 }
        drinkPreference: { type: string, maxLength: 200 }
        isTourLead: { type: boolean, default: false }

    DocumentSummary:
      type: object
      description: Never includes the underlying Vercel Blob pathname (Documents rule, CLAUDE.md).
      properties:
        id: { type: string, format: uuid }
        kind:
          type: string
          description: >-
            PASSPORT | VEHICLE_REGISTRATION | VEHICLE_INSURANCE |
            VEHICLE_INSPECTION | DRIVER_LICENSE (DR-017)
        contentType: { type: string }
        sizeBytes: { type: integer }
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: Compliance documents only (DR-017); null for PASSPORT.
        createdAt: { type: string, format: date-time }

    BookingAddon:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        bookingId: { type: string, format: uuid }
        addonServiceId: { type: string, format: uuid }
        priceMinor: { type: integer, description: Snapshotted from AddonService at selection time }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        createdAt: { type: string, format: date-time }

    SetAddonsInput:
      type: object
      required: [addonServiceIds]
      description: Replace-all -- an empty array is valid (choosing no add-ons).
      properties:
        addonServiceIds:
          type: array
          items: { type: string, format: uuid }

    CreateBookingInput:
      type: object
      required: [departureId, seats]
      properties:
        departureId: { type: string, format: uuid }
        seats: { type: integer, minimum: 1 }
        touristUserId:
          type: string
          format: uuid
          description: Staff-only -- lets an operator book on a tourist's behalf (phone/walk-in). Ignored for a tourist caller.

    Invoice:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        bookingId: { type: string, format: uuid }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        subtotalMinor: { type: integer }
        taxRateBp: { type: integer, description: Snapshotted at invoice-issue time (DR-006) }
        taxMinor: { type: integer }
        totalMinor: { type: integer }
        depositMinor: { type: integer, description: 40% of totalMinor, half-up (DR-012) }
        balanceMinor: { type: integer, description: totalMinor - depositMinor }
        status: { type: string, enum: [DRAFT, ISSUED, PARTIALLY_PAID, PAID, VOID] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        invoiceId: { type: string, format: uuid }
        kind: { type: string, enum: [DEPOSIT, BALANCE] }
        amountMinor: { type: integer }
        currency: { type: string, enum: [USD, EUR, NAD, CDF] }
        provider: { type: string, description: 'Always "DPO" this increment -- gateway is stubbed (OI-01)' }
        providerRef: { type: string, nullable: true }
        status: { type: string, enum: [PENDING, SUCCEEDED, FAILED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    InitiatePaymentInput:
      type: object
      required: [kind]
      properties:
        kind: { type: string, enum: [DEPOSIT, BALANCE] }

    ResolvePaymentInput:
      type: object
      required: [outcome]
      properties:
        outcome: { type: string, enum: [SUCCEEDED, FAILED] }

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        name: { type: string, nullable: true }
        role: { type: string }
        organizationId: { type: string, format: uuid, nullable: true }
        emailVerified: { type: boolean }
        phone: { type: string, nullable: true, description: E.164 }
        preferredLocale: { type: string, enum: [EN, FR] }
        assignedCountry:
          type: string
          nullable: true
          description: ISO-3166 alpha-2; IMMIGRATION_OFFICER only (BR-10, DR-019)

    UpdateProfileInput:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200, description: 'Added for the guest-checkout contact-info step (DR-016)' }
        phone: { type: string, nullable: true, description: E.164 }
        preferredLocale: { type: string, enum: [EN, FR] }

    AssignOfficerCountryInput:
      type: object
      required: [country]
      properties:
        country: { type: string, minLength: 2, maxLength: 2, description: Must be one of the target's Organization.countries }

    Vehicle:
      type: object
      description: Fleet + compliance (DR-017). No link to Departure/Booking yet -- that's Assignments, a later Phase 2 increment.
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        ownerId: { type: string, format: uuid, nullable: true, description: VEHICLE_OWNER user; null = operator-owned }
        plateNumber: { type: string }
        make: { type: string }
        model: { type: string }
        year: { type: integer, nullable: true }
        vehicleType: { type: string, description: 'Open-ended (sedan/minibus/4x4/boat...), not an enum' }
        seatCapacity: { type: integer }
        status: { type: string, enum: [ACTIVE, MAINTENANCE, RETIRED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateVehicleInput:
      type: object
      required: [plateNumber, make, model, vehicleType, seatCapacity]
      properties:
        ownerId: { type: string, format: uuid }
        plateNumber: { type: string, minLength: 1, maxLength: 32 }
        make: { type: string, minLength: 1, maxLength: 100 }
        model: { type: string, minLength: 1, maxLength: 100 }
        year: { type: integer, minimum: 1 }
        vehicleType: { type: string, minLength: 1, maxLength: 50 }
        seatCapacity: { type: integer, minimum: 1 }

    UpdateVehicleInput:
      allOf:
        - $ref: '#/components/schemas/CreateVehicleInput'
        - type: object
          properties:
            status: { type: string, enum: [ACTIVE, MAINTENANCE, RETIRED] }
      description: All fields optional (partial update).

    DriverProfile:
      type: object
      description: 1:1 with a DRIVER-role User (DR-017).
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        licenseNumber: { type: string }
        licenseExpiresAt: { type: string, format: date-time, nullable: true }
        status: { type: string, enum: [ACTIVE, SUSPENDED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateDriverProfileInput:
      type: object
      required: [userId, licenseNumber]
      properties:
        userId: { type: string, format: uuid }
        licenseNumber: { type: string, minLength: 1, maxLength: 100 }
        licenseExpiresAt: { type: string, format: date-time }

    UpdateDriverProfileInput:
      type: object
      properties:
        licenseNumber: { type: string, minLength: 1, maxLength: 100 }
        licenseExpiresAt: { type: string, format: date-time }
        status: { type: string, enum: [ACTIVE, SUSPENDED] }

    Assignment:
      type: object
      description: Links a Departure to the vehicle/driver/guide staffing it (DR-018).
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        departureId: { type: string, format: uuid }
        vehicleId: { type: string, format: uuid }
        driverProfileId: { type: string, format: uuid }
        guideUserId: { type: string, format: uuid, nullable: true, description: TOUR_GUIDE-role user; optional }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateAssignmentInput:
      type: object
      required: [vehicleId, driverProfileId]
      properties:
        vehicleId: { type: string, format: uuid }
        driverProfileId: { type: string, format: uuid }
        guideUserId: { type: string, format: uuid }

    VisaApplication:
      type: object
      description: Facilitator-facing view (DR-019). See OfficerVisaView for the IMMIGRATION_OFFICER projection.
      properties:
        id: { type: string, format: uuid }
        organizationId: { type: string, format: uuid }
        travelerId: { type: string, format: uuid }
        country: { type: string, description: 'ISO-3166 alpha-2, destination -- snapshotted at submit time' }
        status: { type: string, enum: [SUBMITTED, APPROVED, REJECTED] }
        rejectionReason: { type: string, nullable: true, description: 'Set only while REJECTED; cleared on resubmit or a later APPROVED decision (DR-025)' }
        resubmissionCount: { type: integer, description: 'Display-only counter, bumped by /visa/resubmit (DR-025)' }
        documentId: { type: string, format: uuid, nullable: true, description: The granted visa document }
        submittedAt: { type: string, format: date-time }
        decidedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    DecideVisaInput:
      type: object
      required: [outcome]
      properties:
        outcome: { type: string, enum: [APPROVED, REJECTED] }
        reason: { type: string, maxLength: 500, description: 'Only persisted when outcome is REJECTED (DR-025)' }

    OfficerVisaView:
      type: object
      description: >-
        Minimal projection for IMMIGRATION_OFFICER (BR-10 data minimization)
        -- deliberately excludes disabilities/allergies/phone/drinkPreference,
        and (DR-025) rejectionReason; resubmissionCount is included as a bare
        count, enough signal that "this bounced before".
      properties:
        id: { type: string, format: uuid }
        travelerFirstName: { type: string }
        travelerLastName: { type: string }
        travelerNationality: { type: string }
        travelerIdOrPassportNumber: { type: string }
        country: { type: string }
        status: { type: string, enum: [SUBMITTED, APPROVED, REJECTED] }
        resubmissionCount: { type: integer }
        submittedAt: { type: string, format: date-time }
        decidedAt: { type: string, format: date-time, nullable: true }
        hasDocument: { type: boolean }
